@import "tailwindcss";
html {
  background-color: #080d27;
}
body {
  @apply text-[16px] tracking-[-0.03em] text-[#C4CBF5];
}

a {
  @apply no-underline;
}

button {
  @apply bg-none tracking-[-0.03em];
}

input {
  @apply tracking-[-0.03em];
}
.container {
  @apply mx-auto max-w-[1252px] px-16 max-xl:px-10 max-lg:px-6 max-sm:px-4;
}
.g1 {
  background: linear-gradient(rgba(196, 203, 245, 0.5), transparent);
}

.g2 {
  background: linear-gradient(#3062a3, #19549f);
}

.g3 {
  background: linear-gradient(#3c52d9, #0c1838);
}

.g4 {
  background: linear-gradient(#253575, #162561);
}

.g5 {
  background: linear-gradient(#334679, #162561);
}

.g6 {
  background: linear-gradient(#334679, #0c1838);
}

.g7 {
  background: linear-gradient(#1b275a, #0e1434);
}
.g8 {
  background: linear-gradient(to right, transparent, #2ef2ff, transparent);
}

.g9 {
  background: linear-gradient(#080d27, transparent);
}
.hero-img_res {
  @apply max-lg:-top-40 max-lg:left-[calc(50%-280px)] max-lg:w-[1160px] max-md:bottom-[-590px] max-md:left-[calc(50%-390px)] max-md:top-auto;
}
.shadow-500 {
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.25),
    0px 0px 48px rgba(40, 51, 111, 0.7);
}
